.body{
    position: relative;
    width: 80%;
    float: right;
    margin-right: 2%;
}

.barra_lateral{
    position: relative;
    width: 10%;
    height: 100%;
    float: left;
    /*padding: 2%;*/
}

.lateral_imag{
    width: 80%;
    height: 80%;
    float: center;
}
